@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #FFFFFF;
    --stone-gray: #BBBBBB;
    --gray: #8E8E8E;
    --yellow: #FBBC04;
    --dark-gray: #202020;
    --black: #000000;
    --light-gray: #8e8e8e11;
    --ultralight-gray: #8e8e8e08;
    --light-black: #000000cd;
  }
}